<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/mainlayout.html}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<script src="/js/home.js"></script>
	<title>자바 카페</title>
</head>	
	

	
		
	<main class="mainbg" layout:fragment="content">

	<div class="main-list">
		<div class="card sales-box">
			<div class="card-header">
                  <ion-icon name="bag-outline" class="home-icon"></ion-icon> Sales
            </div>
				<div class="home-table" >
					 <div>
						<div class="sales-head"> 날짜 </div>	
						
							<button class="sales-button"><</button>
					
							<button class="sales-button">></button>
						
						
						<hr><br><br>
						
						<div class="sales-body">매출</div>
						<!-- 페이징:S -->
	<div id="dataTableBody">
		data
	</div>
	<!-- 페이징:E -->
											
					</div>	
						<a th:href="|@{/sales/list}" class="text-decoration-none">
							<button  type="button" class="btn btn-secondary btn-sm" >매출 리스트 전체보기</button>
						</a>
				</div>
		</div>
		<div class="card sales-box">	
			<div class="card-header">
                  <ion-icon name="trending-up-outline" class="home-icon"></ion-icon> Chart.Sales
            </div>
			<div class="home-chart">
				<canvas id="myChart"></canvas>
			</div>
		</div>
	</div>
		<div class="main-list middlebox">
			<div class="card">
			<div class="card-header">
                  <ion-icon name="megaphone-outline" class="home-icon"></ion-icon> cafeRule
            </div>
			<table class="cafeRule">
				<tr class="table-title">
					<th>카페규정</th>
					
					<th>작성일</th>
				</tr>
				<tr class="table-content" th:each="dto:${fboardDTO.dtoList}">
					<th>
						<a class="home-text" th:href="|@{/fboard/fread(fno =${dto.fno})}&${link}|"> [[${dto.ftitle}]] </a>
					</th>        
					<th>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd' )}]]</th>					
				</tr>
			</table>			
			</div>
			
			<div class="card event-box">
			<div class="card-header">
                  <ion-icon name="cube-outline" class="home-icon"></ion-icon> EventList
                  
            </div>
			<table class="cafeevent">
				<tr class="table-title">
					<th>이벤트</th>					
					<th>작성일</th>				
				</tr>
				
				<tr class="table-content" th:each="dto:${eventDTO.dtoList}">
					<th>
						<a class="home-text" th:href="|@{/event/read(eno =${dto.eno})}&${link}|">[[${dto.etitle}]]</a>						
					</th>					
					<th>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd' )}]]</th>
				</tr>
			</table>
			</div>
			
			<div class="card recipe-box">
			<div class="card-header">
                  <ion-icon name="newspaper-outline" class="home-icon"></ion-icon> Today Recipe
            </div>
			<table class="today-recipe">
				<tbody class="table_body">
					
				</tbody>
			</table>
			</div>
		</div>
	
	</main>
	    
	<script layout:fragment="script" th:inline="javascript">
		
	//차트만들기
	var chart = document.getElementById("myChart").getContext('2d');
	var data = [[${salesDTO.dtoList}]]
	
	var myChart = new Chart(chart, {
	    type: 'line',
	    data: {
	        labels: [	      	        
	        data[11].month+"월",	        data[10].month+"월",	        data[9].month+"월",	        data[8].month+"월",
	        data[7].month+"월",	        data[6].month+"월",	        data[5].month+"월",	        data[4].month+"월",
	        data[3].month+"월",	        data[2].month+"월",	        data[1].month+"월",	        data[0].month+"월",
	       ],
	        datasets: [{
	        
	            label: '매출', //차트이름
	            fill:false, //채우기
	            
	            
	            data: [
	            data[11].sales,	            data[10].sales,	            data[9].sales,	            data[8].sales,
	            data[7].sales,	            data[6].sales,	            data[5].sales,	            data[4].sales,
	            data[3].sales,	            data[2].sales,	            data[1].sales,	            data[0].sales,	            
	            ],
	            backgroundColor: [
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)',
	                'rgba(0, 0, 0)'
	            
	              
	            ],
	            borderColor: [
	                'rgba(0, 0, 0)'	          
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        maintainAspectRatio: false, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
	        scales:{
				yAxes: [{//y축콤마
					ticks:{
						beginAtZero: true,
						callback: function(value, index) {
							return value.toLocaleString("ko-KR");
						}
					}
				}]
			},
			tooltips:{
				callbacks:{
					label:function(tooltipItem, data){//그래프 콤마
						return tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원";
					}
				},
			},	    
			
	    },
			
	});

	
	
	
</script>
</html>
