<!DOCTYPE html>

<!-- Thymeleaf 이용하기위해 네임스페이스 지정하기 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  >
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/home.css}">
<title>JAVA CAFE ERP SYSTEM</title>
</head>
<body>
 
	<form action="/login" method="post" id="loginform" th:if="${param.logout==null}">
		<div class="pwmain">
			<div class="pwbox">
				<div>아이디 입력</div>
				<input class="pwinput" name="username" type="text"/>
				<div>비밀번호 입력</div>
				<input class="pwinput" name="password" type="password"/>
				<div>
					<input class="" type="checkbox" name="remember-me">
					<label class="form-check-label">
					자동로그인
					</label>
				</div>
			</div>
			<div>
			<button class="pwbutton" type="submit">접속</button>
			</div>		
		</div>
	</form>
	
	
</body>
</html>
 
