<!DOCTYPE html>

<!-- Thymeleaf 이용하기위해 네임스페이스 지정하기 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mainlayout.html}">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
	<link rel="stylesheet" th:href="@{/css/inven.css}">
	<script src="/js/admin.js"></script>
<title>자바 카페</title>
</head>

<main class="mainbg" layout:fragment="content">
	<div class="admin-buttonbox">
	
	<button class="admin-button"  data-bs-toggle="modal" data-bs-target="#admin_register">관리자정보 <br> 추가하기</button> 	
	<div class="modal fade" id="admin_register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<th:block th:include="@{admin/register}"></th:block>	
	</div>
	
	<button class="admin-button"  data-bs-toggle="modal" data-bs-target="#admin_read">관리자정보 <br> 조회하기</button>
	<div class="modal fade" id="admin_read" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<th:block th:include="@{admin/read}"></th:block>	
	</div>
	
	<button class="admin-button"  data-bs-toggle="modal" data-bs-target="#admin_modify">관리자정보 <br> 수정하기</button>
	<div class="modal fade" id="admin_modify" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<th:block th:include="@{admin/modify}"></th:block>	
	</div>
	
	
 
		<button type="button" class="admin-button deletebtn">관리자정보 <br> 삭제하기</button>
</main>
	    
<script layout:fragment="script" th:inline="javascript">
 
</script>
</html>

