<div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">관리자정보 조회</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
     <div class="modal-body">
        <form action="/admin/modify" method="post" id="f1">
        	<input type="hidden" name="ano" value=2>
        	<div class="input-group mb-3">
				<span class="inven-input-group">ID</span>
				<input type="text" name="id" class="form-control" placeholder="ID를 입력하세요"
				th:value="${dto1.id}">
			</div>
        	<div class="input-group mb-3">
				<span class="inven-input-group">PW</span>
				<input type="password" name="pw" class="form-control" placeholder="PW를 입력하세요">
			</div>
	        </div>
	        <div class="modal-footer">
	          <button type="submit" class="btn btn-primary regbtn">수정</button>
	          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	        </div>
        </form>
   </div>
</div>

<script layout:fragment="script" th:inline="javascript">
 
</script>	