<!DOCTYPE html>

<!-- Thymeleaf 이용하기위해 네임스페이스 지정하기 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mainlayout.html}">
<head>
<link rel="stylesheet" th:href="@{/css/inven.css}">
	<title> 자바 카페 </title>
</head>

<div layout:fragment="content">
	<div class="sales-modify">
		<div class="col">
			<div class="card" style="width: 50%; margin: 0 auto;">
				<div class="card-header">
                  <ion-icon name="bag-outline" class="inventory-icon"></ion-icon> Admin Read
                </div>
				<div class="card-body">
				<form action="/admin/modify" method="post" id="f1">
						<div class="input-group mb-3">
							<span class="inven-input-group">ID</span>						
							<input type="text" class="form-control" th:value="${dto.id}" name="id" readonly>
						</div>
						<div class="input-group mb-3">
							<span class="inven-input-group">PW</span>
							<input type="password" class="form-control" name="pw">
						</div>
						<div class="my-4">
							<div class="float-end">
								<button type="button" class="btn btn-primary listBtn">목록</button>
								<button type="button" class="btn btn-secondary modBtn">수정</button>
								<button type="button" class="btn btn-danger removeBtn">삭제</button>
							</div>
						</div>						
					</div>
					</form>				
				</div><!-- card-body end -->
			</div> <!-- card end -->
		</div> <!-- col end -->
	</div> <!-- inven-modify end -->

</div><!-- end layout:content -->

<script layout:fragment="script" th:inline="javascript">
 	
 window.addEventListener('load', function(){
 	
 	
 	//수정
	const formObj = document.querySelector("#f1")
	
	document.querySelector(".modBtn").addEventListener("click", function(e){
		e.preventDefault()
		e.stopPropagation()
 
		formObj.action = `/admin/modify`
		formObj.method = 'post'
		formObj.submit()
	},false)
	

	
	//삭제
	document.querySelector(".removeBtn").addEventListener("click",function(e){
		e.preventDefault()
		e.stopPropagation()
		var YN = false;
		var removeValue = confirm('정말 삭제하시겠습니까? 삭제할경우 되돌릴 수 없습니다');
		if(removeValue == false){ 

			return false;
	
		} else {
		YN = true;
		}
	
		formObj.action = `/admin/remove`
		formObj.method = 'post'
		formObj.submit()
	}, false)
	
	//목록으로 이동
	document.querySelector(".listBtn").addEventListener("click", function(e){
		e.preventDefault()
		e.stopPropagation()
		
		formObj.reset()
		self.location =`/`
	}, false)
	
});
	
</script>