<div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">관리자정보 조회</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        		<table class="read-table">
	        		<thead>
	        			<tr>
	        				<th >현재 로그인되어있는 아이디</th>
	        			</tr>
	        			<tr>	        				
	        				 <th>[[${dto1.id}]]</th>
	        			</tr>
	        		</thead>
	        	</table> 
	  </div>
		      <div class="modal-footer">
		      	<button class="btn btn-primary" th:onclick="'location.href=\''+@{/admin/list}+'\''">관리자 전체보기</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
		      </div>
         
   </div>
</div>

<script layout:fragment="script" th:inline="javascript">
 
</script>	
