<!DOCTYPE html>

<!-- Thymeleaf 이용하기위해 네임스페이스 지정하기 -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="sidebar" id="layoutSidenav" >
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                 	<ion-icon name="cafe-sharp"></ion-icon><br>
                    <a th:href="@{/}" class="nav__logo">JavaCafe</a>
                </div>
                <div href="#" class="nav__link collapse1 sidemenu">
                        <ion-icon name="person-sharp" class="nav__icon "></ion-icon>
                        <span class="nav_name">STAFF</span>
						
						
                        <ion-icon name="chevron-down-sharp" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <li><a href="@{/staff/list}" class="collapse__sublink">전체 인원</a></li>
                            <li><a href="@{/staffin/list}" class="collapse__sublink">출근 인원</a></li>
                            <li><a href="@{/staffout/list}" class="collapse__sublink">퇴근 인원</a></li>
                        </ul>
                    </div>
                    <div href="#" class="nav__link collapse1">
                        <ion-icon name="bag-sharp" class="nav__icon"></ion-icon>
                        <span class="nav_name">INVENTORY</span>
						
						
                        <ion-icon name="chevron-down-sharp" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                          <li><a th:href="@{/inven/list}" class="collapse__sublink">물품리스트</a></li>
                          <li><a th:href="@{/inven/register}" class="collapse__sublink">물품 등록</a></li>
                          <li><a href="#" class="collapse__sublink">입/출고 처리</a></li>
                        </ul>
                    </div>
                    <div href="/recipe/list" class="nav__link collapse1">
                        <ion-icon name="file-tray-full-sharp" class="nav__icon"></ion-icon>
                        <span class="nav_name">RECIPE</span>
						
						
                        <ion-icon name="chevron-down-sharp" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <a href="/recipe/list" class="collapse__sublink">RECIPE1</a>
                            <a href="/recipe/list" class="collapse__sublink">RECIPE2</a>
                            <a href="/recipe/list" class="collapse__sublink">RECIPE3</a>
                        </ul>
                    </div>
					<div href="#" class="nav__link collapse1">
                        <ion-icon name="people-sharp" class="nav__icon"></ion-icon>
                        <span class="nav_name">USER</span>
						
						
                        <ion-icon name="chevron-down-sharp" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <a href="#" class="collapse__sublink">USER1</a>
                            <a href="#" class="collapse__sublink">USER2</a>
                            <a href="#" class="collapse__sublink">USER3</a>
                        </ul>
                    </div>
                    
					<div href="#" class="nav__link collapse1">
                        <ion-icon name="chatbox-sharp" class="nav__icon"></ion-icon>
                        <span class="nav_name">BOARD</span>
						
						
                        <ion-icon name="chevron-down-sharp" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <a href="#" class="collapse__sublink">JBOARD</a>
                            <a href="#" class="collapse__sublink">YBOARD</a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div><!-- sidebar end -->   



    


</html>
 