@charset "UTF-8";
/*inven icon*/
.inventory-icon{
	font-size: 1.25rem;
	vertical-align: sub;
}


/* inven table */
.inven-table{
	text-align: right;
}

.inven-table-item{
	text-align: center;
}

/*inven paging*/
.inven-paging{
padding-top: 10px;
text-align: center;
	
}
.inven-pagination{

}

/*inven search*/
.inven-search{
padding-top: 10px;
text-align: center;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

	justify-content: center;
}

.inven-search-keyword{
	width: 21%;
	border-style:none;
	color:black;
	background-color: #e8e8e8;
	border-radius: 0px;
	padding-left: 10px;
}

input::placeholder{
	color: rgb(155, 155, 155);
 	opacity: 1;
}

.inven-search-type{
	text-align:center;
	height: 38px;
	border-color: #bfbfbf;
	
	
}
.inven-search-null{
	text-align: center;
}

.inven-search-btn{
	border-radius: 0px 5px 5px 0px;
	padding: 0px;

}
.inven-search-icon{
	padding-top: 5px;
	height: 25px;
	width: 30px;
}

/*inven register*/
.inven-register-btn{
	background-color: white;
	border: 1px solid;
	border-color:  #bfbfbf;
	border-radius: 5px;
	padding: 8px;
}
.inven-register-btn:hover{
	background-color: #bfbfbf;
	border: 1px solid;
	border-color:  #bfbfbf;
	border-radius: 5px;
	padding: 8px;
	color: white;
}

.inven-register{
	width:50%;
	margin: 0 auto;
}
.inven-modify{
	width:50%;
	margin: 0 auto;
}

.inven-input-group {
	width : 90px;
	text-align:center;
    
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.inven-img{
	width: 80px;
	height: 60px;
}

.inven-img-box{
	display: block;
	width: 100%;
	
}

.inven-read-imgbox{
	text-align: center;
	padding-bottom: 15px;
	}
.inven-read-img{	
	width: 300px;
	height: 300px;
	
	
}
.input-inven{
	align-items: center;	
    padding: 0.375rem 6.7rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
}

.inven-table{
	width:  100%;

	
}
    
.inven-price-comma{
	border: 1px solid #ced4da;
}
 
.state-radio{
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #ced4da;
	border-radius: 0px 3px 3px 0px;
}