@charset "UTF-8";

#body {padding:100px 60px 60px 360px;}

#header {background:#eddfd7; text-align:left; padding:0px 0px 0px 360px; height:50px; position:fixed; width:100%; z-index:8000;}
#header h2 {font-size:20px; padding:13px 0px 0px 0px; vertical-align:top;}
#header ion-icon,
#header span {float:left;}
#header ion-icon {font-size:22px; color:#a98a7b; position:relative;}
#header ion-icon:nth-child(1) {top:-1px;}
#header span {position:relative; top:-2px; display:inline-block; padding:0px 10px 0px 10px;}