
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mainlayout.html}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Insert title here</title>

<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
<!-- Core theme CSS (includes Bootstrap)-->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/staff.css}" rel="stylesheet" />
</head>
<body>
	<main class="mainbg" layout:fragment="content">
	<div class="row mt-3">
			<form action="/staff/list" method="get">
				<div class="col">
					<input type="hidden" name="size" th:value="${pageRequestDTO.size}">
					<div class="input-group">
						<div class="input-group-prepend">
							<select class="form-select" name="type">
								<option value="">---</option>
								<option value="t" th:selected="${pageRequestDTO.type=='t'}">이름</option>
							</select>
						</div>
						<!-- end group -->
						<input type="text" class="form-control" name="keyword"
							th:value="${pageRequestDTO.keyword}">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
							<button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	<div class="row mt-3">
		<div class="row mt-3">
			<div class="col">
				<div class="card">
				
					<div calss="card-body">
						<h5 class="card-title">출근직원</h5>
					</div>
					<table>
						<thead>
							<tr>
								<th scope="col">직원번호</th>
								<th scope="col">이름</th>
								<th scope="col">전화번호</th>
								<th scope="col">주소</th>
								<th scope="col">출근 시간</th>
								<th scope="col">출근</th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="dto:${responseDTO.dtoList}"  th:if="${dto.swork} == false">
								<th scope ="row">[[${dto.sno}]]</th>								
								<td><a th:href="|@{/staff/read(sno=${dto.sno})}&${link}|">[[${dto.sname}]]</a></td>
								<td>[[${dto.saddr}]]</td>
								<td>[[${dto.sphone}]]</td>
								<td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd : HH시 mm분')}]]</td>
								
								<td th:if="${dto.swork} == false"><span style="display: none;">[[${dto.swork}]]</span>퇴근</td>
								
							</tr>
						</tbody>
					</table>
					<div class="float-end" style="padding: 15px; margin: auto">
						<ul class="pagination flex-wrap">
							<li class="page-item" th:if="${responseDTO.prev}">
								<a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
							</li>
							
							<th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
								<li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
									<a class="page-link" th:data-num="${i}">[[${i}]]</a>
								</li>
							</th:block>
							
							<li class="page-item" th:if="${responseDTO.next}">
								<a class="page-link" th:data-num="${responseDTO.end +1}">Next</a>
							</li>
						</ul>
					</div>
				</div>			
			</div>
		</div>
		<div class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">출근완료</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
					</div>
					<div class="modal-body">
						<p>출근완료했습니다.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	</main>

	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script th:src="@{/js/scripts.js}"></script>

	<script layout:fragment="script" th:inline="javascript">
	 document.querySelector(".pagination").addEventListener("click", function (e) {
	        e.preventDefault()
	        e.stopPropagation()

	        const target = e.target
	        

	        if(target.tagName !== 'A') {
	            return
	        }

	        const num = target.getAttribute("data-num")

	        const formObj = document.querySelector("form")

	        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

	        formObj.submit();

	    },false)

	    document.querySelector(".clearBtn").addEventListener("click", function (e){
	        e.preventDefault()
	        e.stopPropagation()

	        self.location ='/staff/list'

	    },false)
	    
	    
	    //show modal
	 const result = [[${result}]]
	 
	 const modal = new bootstrap.Modal(document.querySelector(".modal"))
	 if(result){
		 modal.show();
	 }
	</script>
</body>
</html>