<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mainlayout.html}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Insert title here</title>

<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
<!-- Core theme CSS (includes Bootstrap)-->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
	<main class="mainbg" layout:fragment="content">
		<div class="row mt-3">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<form action="/staff/register" method="post">
							<div class="input-group mb-3">
								<span class="input-group-text">이름</span> <input type="text"
									name="sname" class="form-control" placeholder="이름"
									th:value="${dto.sname}" readonly>
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text">전화번호</span> <input type="text"
									name="sphone" class="form-control" th:value="${dto.sphone}"
									placeholder="전화번호" readonly>
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text">주소</span> <input id="saddre"
									type="text" name="saddr" class="form-control"
									th:value="${dto.saddr}" placeholder="주소" readonly>
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text">출근 현황</span> <input id="saddre"
									type="text" name="swork" class="form-control"
									th:value="${dto.swork}" placeholder="출근시간대" readonly>

							</div>

							<div class="my-4">
								<div class="float-end"
									th:with="link = ${pageRequestDTO.getLink()}">
									<a th:href="|@{/staff/list}?${link}|"
										class="text-decoration-none">
										<button type="button" class="btn btn-primary">List</button>
									</a> <a th:href="|@{/staff/modify(sno=${dto.sno})}&${link}|"
										class="text-decoration-none">
										<button type="button" class="btn btn-secondary">Modify</button>
									</a>
								</div>
							</div>
						</form>
					</div>
					<!-- end card body -->
				</div>
				<!-- end card -->
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->



	</main>

	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script th:src="@{/js/scripts.js}"></script>

	<script layout:fragment="script" th:inline="javascript">
		const errors = [[${errors}]]
		console.log(errors)
		
		let errorMsg = ''
		
		if(errors){
			for(let i = 0; i < errors.length; i++){
				errorMsg +=`${errors[i].field}은(는) ${errors[i].code} \n`
			}	
			alert(errorMsg)
		}
	</script>
</body>
</html>