<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

<form action="/recipe/list" method="get">
<input type="hidden" name="size" th:value="${pageRequestDTO.size}" />
<select class="form-select" name="type">
	<option value="">-----</option>
	<option value="n" th:selected="${pageRequestDTO.type == 'n'}">메뉴 명</option>
	<option value="e" th:selected="${pageRequestDTO.type == 'e'}">영문 명</option>
	<option value="d" th:selected="${pageRequestDTO.type == 'd'}">메뉴 소개글</option>
</select>
<input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}" />
<button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
<button class="btn btn-outline-secondary clearBtn" type="submit">Clear</button>
</form>

	<h1>Board List</h1>
	<table class="table">
	<colgroup>
		<col width="5%" />
		<col width="*" />
		<col width="10%" />
		<col width="15%" />
	</colgroup>
	<thead>
	<tr>
		<th>#</th>
		<th>SUBJECT</th>
		<th>NAME</th>
		<th>DATE</th>
	</tr>
	</thead>
    <tbody th:with="link = ${pageRequestDTO.getLink()}">
    <tr th:each="dto:${responseDTO.dtoList}"  >
        <td>[[${dto.rno}]]</td>
        <td>
            <a th:href="|@{/recipe/read(rno =${dto.rno})}&${link}|" class="text-decoration-none"> [[${dto.rname}]] </a>
            <span class="badge progress-bar-success" style="background-color: #0a53be"></span>
        </td>
        <td></td>
        <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
    </tr>
    </tbody>
	</table>
	
	<ul class="pagination">
		<li class="page-item" th:if="${responseDTO.prev}">
			<a class="page-link" th:data-num="${responseDTO.start -1}">&lt;</a>
		</li>
		<th:block th:each="i:${#numbers.sequence(responseDTO.start, responseDTO.end)}">
			<li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
				<a class="page-link" th:data-num="${i}">[[${i}]]</a>
				
			</li>	
		</th:block>
		<li class="page-item" th:if="${responseDTO.next}">
			<a class="page-link" th:data-num="${responseDTO.end +1}">&gt;</a>
		</li>		
	</ul>
	
	<button class="btn btn-primary" onclick="location.href='register';">Register</button>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Action Result</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <!-- <button type="button" class="btn btn-primary">Save changes</button>-->
	      </div>
	    </div>
	  </div>
	</div>
</div>





<script layout:fragment="script" th:inline="javascript">
console.log("script...............")
document.querySelector(".pagination").addEventListener("click", function(e){
	e.preventDefault()
	e.stopPropagation()
	const target = e.target
	if(target.tagName!='A'){
		return
	}
	const num = target.getAttribute("data-num")
	const formObj = document.querySelector("form")
	formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
	formObj.submit();
},false)
document.querySelector(".clearBtn").addEventListener("click", function(e){
	e.preventDefault()
	e.stopPropagation()
	self.location='/recipe/list'
},false);

// show modal
const result = [[${result}]]
const modal = new bootstrap.Modal(document.querySelector(".modal"))
if(result){
	document.querySelector(".modal-body").innerHTML=result
	modal.show()
}
</script>