<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainlayout.html}">
       
<main class="mainbg" layout:fragment="content">

<style>
.col {display:block; color:#1e1e1e;}
.col:hover { color:#1e1e1e;}
.card-title,
.card-title p {padding:0; margin:0;}
.card-title {text-align:center;}
.card-title p:nth-child(1) {font-weight:bold; padding:20px 0px 10px 0px;}
.card-title p:nth-child(2) {padding:0px 0px 30px 0px;}
.card-text {text-align:center; padding:0px 0px 30px 0px;}
</style>

<form action="/recipe/list" method="get">
<input type="hidden" name="size" th:value="${pageRequestDTO.size}" />
<select class="form-select" name="type">
	<option value="">-----</option>
	<option value="n" th:selected="${pageRequestDTO.type == 'n'}">메뉴 명</option>
	<option value="e" th:selected="${pageRequestDTO.type == 'e'}">영문 명</option>
	<option value="d" th:selected="${pageRequestDTO.type == 'd'}">메뉴 소개글</option>
</select>
<input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}" />
<button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
<button class="btn btn-outline-secondary clearBtn" type="submit">Clear</button>
</form>

<div class="row row-cols-1 row-cols-md-4 g-4" th:with="link = ${pageRequestDTO.getLink()}">
  <a class="col" th:each="dto:${responseDTO.dtoList}" th:href="|@{/recipe/read(rno =${dto.rno})}&${link}|">
  	<div class="card h-100">
      <img th:if="${dto.rimg} != '' and ${dto.rimg} != null " th:src="|/view/${dto.rimg}|" class="card-img-top" />
      <img th:if="${dto.rimg} == '' or ${dto.rimg} == null " src="/img/noimg.jpg" />
      <div class="card-body">
        <h5 class="card-title">
        	<p>[[${dto.rname}]]</p>
        	<p style="color:#b4b4b4;">[[${dto.reng}]]</p>
        </h5>
        <p class="card-text">[[${dto.rdesc}]]</p>
      </div>
    </div>
  </a>
</div>

<ul class="pagination">
	<li class="page-item" th:if="${responseDTO.prev}">
		<a class="page-link" th:data-num="${responseDTO.start -1}">&lt;</a>
	</li>
	<th:block th:each="i:${#numbers.sequence(responseDTO.start, responseDTO.end)}">
		<li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
			<a class="page-link" th:data-num="${i}">[[${i}]]</a>
			
		</li>	
	</th:block>
	<li class="page-item" th:if="${responseDTO.next}">
		<a class="page-link" th:data-num="${responseDTO.end +1}">&gt;</a>
	</li>		
</ul>
	
	<button class="btn btn-primary" onclick="location.href='register';">Register</button>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Action Result</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <!-- <button type="button" class="btn btn-primary">Save changes</button>-->
	      </div>
	    </div>
	  </div>
	</div>
</div>

</main>



<script layout:fragment="script" th:inline="javascript">
console.log("script...............")
document.querySelector(".pagination").addEventListener("click", function(e){
	e.preventDefault()
	e.stopPropagation()
	const target = e.target
	if(target.tagName!='A'){
		return
	}
	const num = target.getAttribute("data-num")
	const formObj = document.querySelector("form")
	formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
	formObj.submit();
},false)
document.querySelector(".clearBtn").addEventListener("click", function(e){
	e.preventDefault()
	e.stopPropagation()
	self.location='/recipe/list'
},false);

// show modal
const result = [[${result}]]
const modal = new bootstrap.Modal(document.querySelector(".modal"))
if(result){
	document.querySelector(".modal-body").innerHTML=result
	modal.show()
}
</script>