<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainlayout.html}">
       
<main class="mainbg" layout:fragment="content">
<!-- ================================================================================ -->

<style>
.table {background:#ffffff;}
img {width:400px; height:400px;}
</style>
<table width="100%">
<colgroup>
	<col width="430px" />
	<col width="*" />	
</colgroup>
<tr style="vertical-align:top;">
	<td>
		<img th:if="${dto.rimg} != '' and ${dto.rimg} != null " th:src="|/view/${dto.rimg}|" />
		<img th:if="${dto.rimg} == '' or ${dto.rimg} == null " src="/img/noimg.jpg" />
	</td>
	<td>
		<table class="table table-bordered">
		<colgroup>
			<col width="15%" />
			<col width="35%" />
			<col width="15%" />
			<col width="35%" />
		</colgroup>
		<tr>
			<th>메뉴 상태</th><td th:switch="${dto.rstate}">
				<span th:case="0">판매 종료</span>
				<span th:case="1">판매 가능</span>
			</td>
			<th>카테고리</th>
			<td th:switch="${dto.rcate}">
				<span th:case="0">선택 안함</span>
				<span th:case="1">커피</span>
				<span th:case="2">티</span>
				<span th:case="3">에이드&amp;주스</span>
				<span th:case="4">스무디&amp;프라페</span>
				<span th:case="5">음료</span>
			</td>
		</tr>
		<tr>
			<th>메뉴 이름</th><td>[[${dto.rname}]]</td>
			<th>영문 이름</th><td>[[${dto.reng}]]</td>
		</tr>
		<tr>
			<th>제조 단가</th><td>[[${dto.rcost}]]</td>
			<th>소비자 가격</th><td>[[${dto.rprice}]]</td>
		</tr>
		<tr>
			<th>메뉴 소개</th><td colspan="3">[[${dto.rdesc}]]</td>
		</tr>
		<tr>
			<th>레시피</th>
			<td colspan="3">
				<!--  /*<div th:text="${dto.rtext}"></div>*/ -->
				<span th:utext="${#strings.replace(dto.rtext, nlString, '&lt;br /&gt;')}"></span>
			</td>
		</tr>
		<tr>
			<th>칼로리</th><td colspan="3">[[${dto.rkcal}]] kcal</td>
		</tr>									
		</table>	
	</td>
</tr>
</table>

<div th:with="link = ${pageRequestDTO.getLink()}">
<a th:href="|@{/recipe/list}?${link}|" class="text-decoration-none">
    <button type="button" class="btn btn-primary">List</button>
</a>
<a th:href="|@{/recipe/register(rno=${dto.rno})}&${link}|" class="text-decoration-none">
    <button type="button" class="btn btn-secondary">Modify</button>
</a>
</div>

<!-- ================================================================================ -->
</main>

<script layout:fragment="script" th:inline="javascript">
</script>