<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainlayout.html}">

<div layout:fragment="header">
	<h2>
		<ion-icon name="home"></ion-icon><span>HOME</span><ion-icon name="chevron-forward"></ion-icon>
		<span>RECIPE</span><ion-icon name="chevron-forward"></ion-icon>
		<span>레시피 목록</span>
	</h2>
</div>

<main layout:fragment="content">
<!-- ================================================================================ -->

<style>
.input-group-text {width:200px; text-align:center; display:inline-block;}
</style>

<form method="post" th:attr="action=${dto.rno == 0 ? '/recipe/register' : '/recipe/modify'}" enctype="multipart/form-data">
<input th:if="${dto.rno>0}" type="hidden" name="rno" th:value="${dto.rno}" />
<div class="input-group mb-1">
	<span class="input-group-text">메뉴 상태</span>
	<div class="form-control">
		<input th:if="${dto.rno>0}" class="form-check-input" name="rstate" type="checkbox" value="1" id="flexCheckDefault" th:attr="checked=${dto.rstate == 1 ? 'true' : 'false'}" />
		<input th:if="${dto.rno==0}" class="form-check-input" name="rstate" type="checkbox" value="1" id="flexCheckDefault" checked="true" />
		<label class="form-check-label" for="flexCheckDefault">메뉴 판매 가능</label>
	</div>
	<span class="input-group-text">카테고리</span>
	<select name="rcate" class="form-control">
		<option value="0" th:selected="${dto.rcate == '0'}">선택</option>
		<option value="1" th:selected="${dto.rcate == '1'}">커피</option>
		<option value="2" th:selected="${dto.rcate == '2'}">티</option>
		<option value="3" th:selected="${dto.rcate == '3'}">에이드&amp;주스</option>
		<option value="4" th:selected="${dto.rcate == '4'}">스무디&amp;프라페</option>
		<option value="5" th:selected="${dto.rcate == '5'}">음료</option>
	</select>	
</div>
<div class="input-group mb-1">
	<span class="input-group-text">메뉴 이름</span>
	<input type="text" name="rname" class="form-control" th:value="${dto.rname}" />
	<span class="input-group-text">영문 이름</span>
	<input type="text" name="reng" class="form-control" th:value="${dto.reng}"  />              
</div>
<div class="input-group mb-1">
	<span class="input-group-text">제조 단가</span>
	<input type="text" name="rcost" class="form-control" th:value="${dto.rcost}" />
	<span class="input-group-text">소비자 가격</span>
	<input type="text" name="rprice" class="form-control" th:value="${dto.rprice}" />              
</div>
<div class="input-group mb-1">
	<span class="input-group-text">메뉴 소개</span>
	<input type="text" name="rdesc" class="form-control" th:value="${dto.rdesc}" />
</div>

<div class="input-group mb-1">
	<span class="input-group-text">레시피</span>
	<textarea class="form-control col-sm-5" rows="5" name="rtext">[[${dto.rtext}]]</textarea>
</div>
<div class="input-group mb-1">
	<span class="input-group-text">칼로리</span>
	<input type="text" name="rkcal" class="form-control" th:value="${dto.rkcal}" />
</div>
<div class="input-group mb-1">
	<span class="input-group-text">이미지 업로드</span>
	<input type="file" name="file" class="form-control" />
</div>

<a href="/recipe/list" class="btn btn-primary">목록</a>
<button type="submit" class="btn btn-primary">Submit</button>
<button type="reset" class="btn btn-secondary">Reset</button>

</form>

<!-- ================================================================================ -->
</main>

<script layout:fragment="script" th:inline="javascript">

$(document).ready(function(){
	menuActive(3);
});

const errors = [[${errors}]]
console.log(errors)

let errorMsg = ''

if(errors){
  for (let i = 0; i < errors.length; i++) {
    errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
  }
  alert(errorMsg)
}
</script>