<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainlayout.html}">

<!-- 레이아웃용 -->
<div layout:fragment="content">
	<div class="row mt-3">
		<!--검색 화면 추가 -->
		<form action="/event/list" method="get">
			<div class="col">
				<input type="hidden" name="size" th:value="${pageRequestDTO.size}">
				<div class="input-group">
					<div class="input-group-prepend">
						<select class="form-select" name="type">
							<option value="">---</option>
							<option value="t" th:selected="${pageRequestDTO.type =='t'}">제목</option>
							<option value="c" th:selected="${pageRequestDTO.type =='c'}">내용</option>
							<option value="w" th:selected="${pageRequestDTO.type =='w'}">작성자</option>
							<option value="tc" th:selected="${pageRequestDTO.type =='tc'}">제목 내용</option>
							<option value="tcw" th:selected="${pageRequestDTO.type =='tcw'}">제목 내용 작성자</option>
						</select>
					</div>
					<input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
						<button class="btn btn-outline-secondary clearBtn" type="submit">clear</button>
					</div>
				</div><!-- 검색 화면 추가 끝 -->

				<div class="card">
					
					<div class="card-body">
						<h5 class="card-title">이벤트 게시글 목록 </h5>

						<table class="table">
							<thead>
								<tr>
									<th scope="col">글번호</th>
									<th scope="col">제목</th>
									<th scope="col">작성자</th>
									<th scope="col">작성일</th>
								</tr>
							</thead>
							<tbody th:with="link = ${pageRequestDTO.getLink()}">
								<tr th:each="dto:${responseDTO.dtoList}">
									<th scope="row">[[${dto.eno}]]</th>
									<td>
										<a th:href="|@{/event/read(eno =${dto.eno})}&${link}|">[[${dto.etitle}]]</a>
									</td>
									<td>[[${dto.ewriter}]]</td>
									<!--/* 타임리프의 #temporals라는 유틸리티 객체를 이용해서 날짜 출력 처리 */-->
									<td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
								</tr>
							</tbody>
						</table>
						<a th:href="|@{/event/register}?${link}|" class="text-decoration-none">
								<button type="button" class="btn btn-primary">게시글 작성</button>
						</a>
						<!-- 페이지 번호들 화면에 출력하게함. 시작 번호와 끝 번호만을 가지고 있으므로 특정
					범위의 숫자를 만들기 위해서 타임리프의 numbers를 이용합니다. -->
						<div class="float-end">
							<ul class="pagination flext-wrap">
								<li class="page-item" th:if="${responseDTO.prev}">
									<a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
								</li>

								<th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
									<li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
										<a class="page-link" th:data-num="${i}">[[${i}]]</a>
									</li>
								</th:block>

								<li class="page-item" th:if="${responseDTO.next}">
									<a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
								</li>
							</ul>
						</div><!-- end float-end -->
					</div><!-- end card body-->
				</div><!-- card end -->
			</div><!-- col end -->
		</div><!-- row end -->
	</form>
	<!-- 모달창 시작 부분 -->
	<div class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p align="center">♥[[${result}]]번 게시물 작성완료♥</p> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	
	
</div><!-- content end -->

<!-- 이벤트 처리
페이지 번호 클릭 or 검색/필터링 조건을 눌렀을 때 이벤트 처리 추가
처리 방식
- 페이지 번호를 클릭하면 검색 창에 있는 <form> 태그에 <input type='hidden'>으로 page를 추가한 후에 submit
- [Clear] 버튼 클릭시 검색 조건 없이 '/board/list' 호출 -->
<script layout:fragment="script" th:inline="javascript">
   document.querySelector(".pagination").addEventListener("click", function (e) {
      e.preventDefault()
      e.stopPropagation()
      
      const target = e.target
      if (target.tagName !== 'A') {
         return
      }
      const num = target.getAttribute("data-num")
      const formObj = document.querySelector("form")
      formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
      formObj.submit();
   }, false)
   
   document.querySelector(".clearBtn").addEventListener("click", function (e) {
      e.preventDefault()
      e.stopPropagation()
      self.location = '/event/list'
   }, false)
   
   // show modal
   const result = [[${result}]]
    
   const modal = new bootstrap.Modal(document.querySelector(".modal"))
   
   if(result){
      modal.show()
   }
</script>

</html>