<!DOCTYPE html>

<!-- Thymeleaf 이용하기위해 네임스페이스 지정하기 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      	  
<head>
	<meta charset="UTF-8"> 
    
	<title>자바 카페</title> 
    <th:block th:include="@{common/include-link}"></th:block>

<!-- header -->

</head>
<body>
	

<!-- 사이드바 & 본문컨텐츠 -->
<div class="container1">
	<section class="main_box">
	
	<!-- 사이드바 넣는 곳 -->
	<div class="sidebox" th:replace="fragment/sidebar  :: sidebar"></div>
 
<!-- 본문 컨텐츠 넣는곳 -->		
	<div class="mainbox">
	<div th:replace="fragment/header">header가 들어갈 자리입니다.</div>
		<main layout:fragment="content">콘텐츠 넣으셈</main>
	
	</div>
	
	</section>
	
</div> <!-- 사이드바 & 본문컨텐츠 END -->
	
	




<div th:replace="fragment/footer"></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>  
<th:block th:include="@{common/include-script}"> </th:block>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
 
