<!DOCTYPE html>

<!-- Thymeleaf 이용하기위해 네임스페이스 지정하기 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      	  
<head>
	<meta charset="UTF-8">
	<title>자바 카페</title> 
    <th:block th:include="@{common/include-link}"></th:block>
</head>
<body>
	
<div id="container">

	<!-- 사이드바 넣는 곳 -->
	<div class="sidebox" th:replace="fragment/sidebar  :: sidebar"></div>
	
	<!-- <div th:replace="fragment/header">header가 들어갈 자리입니다.</div> -->
	<div id="header" class="clearfix" layout:fragment="header"><h2><ion-icon name="home"></ion-icon><span>HOME</span></h2></div>
	<div id="body">
		<!-- 본문 컨텐츠 넣는곳 -->
		<main layout:fragment="content">콘텐츠 넣으셈</main>
	</div>
	<div th:replace="fragment/footer"></div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>  
<th:block th:include="@{common/include-script}"> </th:block>

<th:block layout:fragment="script">

</th:block>
</body>
</html>
 
