<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainlayout.html}">
    
<head>
<meta charset="UTF-8">
<title>회원 리스트</title>
</head>
<body>
	<div layout:fragment="content">
	
<!-- 검색 기능 start -->
    <div class="row mt-3">
        <form action="/customer/list3" method="get">
            <div class="col">
                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-select" name="type">
                            <option value="">선택 조회</option>
                            <option value="n" th:selected="${pageRequestDTO.type =='n'}">이름</option>
                            <option value="p" th:selected="${pageRequestDTO.type =='p'}">전화번호</option>
                            <option value="np" th:selected="${pageRequestDTO.type =='np'}">이름 & 전화번호</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary searchBtn" type="submit">검색</button>
                        <button class="btn btn-outline-secondary clearBtn" type="button">초기화</button>
                    </div>
                </div>
            </div> <!-- end col -->
        </form>
    </div> <!-- end row -->
<!-- end 검색 기능  -->
    
<!-- 고객 리스트 테이블 start -->
     <div class="row mt-3">
        <div class="col">

            <div class="card">
                <div class="card-body" >
                    <h5 class="card-title"></h5>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">회원 번호</th>
                            <th scope="col">이름</th>
                            <th scope="col">전화번호</th>
                        </tr>
                        </thead>

                        <tbody th:with="link = ${pageRequestDTO.getLink()}">

                        <tr th:each="dto:${responseDTO.dtoList}"  >
                            <th scope="row">[[${dto.cno}]]</th>
                            <td>
                                <a th:href="|@{/customer/read3(cno =${dto.cno})}&${link}|"> [[${dto.cname}]] </a>
                            </td>
                            <td>[[${dto.cphone}]]</td>
                        </tr>
                        </tbody>
                    </table>
<!-- 페이징처리 start -->
                    <div class="float-end">
                        <ul class="pagination flex-wrap">

                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start -1}">이전</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                                <li th:class="${responseDTO.page == i}?'page-item active':'page-item'" >
                                    <a class="page-link"  th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link"  th:data-num="${responseDTO.end + 1}">다음</a>
                            </li>
                        </ul>
                    </div>
<!-- end 페이징처리 -->


                </div><!--end card body-->
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
<!-- end 고객 리스트 테이블 -->    
    
<!-- 모달 창 start -->    
	<div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>완료하였습니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
	</div>
<!-- end 모달 창 -->    
    </div> <!-- end layout "content" -->
    
    
<!-- 스크립트 start -->
	<script layout:fragment="script" th:inline="javascript">   
		document.querySelector(".pagination").addEventListener("click", function (e) {
	        e.preventDefault()
	        e.stopPropagation()
	
	        const target = e.target
	
	        if(target.tagName !== 'A') {
	            return
	        }
	
	        const num = target.getAttribute("data-num")
	
	        const formObj = document.querySelector("form")
	
	        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
	
	        formObj.submit();
	
	    },false)
	
	    document.querySelector(".clearBtn").addEventListener("click", function (e){
	        e.preventDefault()
	        e.stopPropagation()
	
	        self.location ='/customer/list3'
	
	    },false)
	
	    //show modal
	    const result = [[${result}]]
	
	    const modal = new bootstrap.Modal(document.querySelector(".modal"))
	
	    if(result){
	        modal.show()
	    }
	
	
	
	</script>
<!-- end 스크립트 -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    



</body>
</html>