<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainlayout.html}">
    

<head>
<meta charset="UTF-8">
    <title>포인트 적립</title>
</head>
<body>
	<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                   <h4 style="color:#333333;"><b>적립할 포인트를 적어주세요</b></h4>
                </div>
                <br>
                <div class="card-body">
                    <form th:action="@{/customer/modify2}" method="post" id="f2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">포인트</span>
                            <input type="text" class="form-control" name="cpoint" th:value="${dto.cpoint}">
                            <button type="button" class="btn btn-secondary pointBtn">적립</button>
                        </div>
                        
                          
                    </form>
			</div> <!--  end card body -->
			</div> <!-- end card -->
		</div> <!-- end col -->
	</div> <!-- end row -->
	</div> <!-- end layout content -->
	
<!-- start script -->
	<script layout:fragment="script" th:inline="javascript">
	
	
	    const errors = [[${errors}]]
	    console.log(errors)
	
	    let errorMsg = ''
	
	    if(errors){
	        for (let i = 0; i < errors.length; i++) {
	            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
	        }
	        history.replaceState({}, null, null)
	        alert(errorMsg)
	    }
	
	    const link = [[${pageRequestDTO.getLink()}]]
	    const formObj = document.querySelector("#f2")
	
	    document.querySelector(".pointBtn").addEventListener("click", function(e){
	        e.preventDefault()
	        e.stopPropagation()
	
	        formObj.action = `/customer/modify2?${link}`
	        formObj.method ='post'
	        formObj.submit()
	
	
	    }, false)
	
	
	    
	
	
	</script>
<!-- end script -->	
	
	
	
	
	
	
</body>
</html>