<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainlayout.html}">
    
<head>
<meta charset="UTF-8">
<title>고객 정보 상세보기</title>
</head>
<body>
	<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    고객 정보 상세보기
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">고객 번호</span>
                        <input type="text" class="form-control" th:value="${dto.cno}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">이름</span>
                        <input type="text" class="form-control" th:value="${dto.cname}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">전화번호</span>
                        <input type="text" class="form-control" th:value="${dto.cphone}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">포인트</span>
                        <input type="text" class="form-control" th:value="${dto.cpoint}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">등록된 날짜</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">수정된 날짜</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>

                    <div class="my-4">
                        <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                            <a th:href="|@{/customer/list}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">리스트</button>
                            </a>
                            <a th:href="|@{/customer/modify(cno=${dto.cno})}&${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">수정하러가기</button>
                            </a>
                        </div> 
                    </div>
                </div><!--end card body-->
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
</div> <!-- end layout Content -->

<!-- script start -->
	<script layout:fragment="script" th:inline="javascript">



	</script>
<!-- end script -->
</body>
</html>